<% layout('layouts/boilerplate') %>


<% if( getUser.transactions.length ===0 ) { %>
    <div class="container-fluid no-transactions">
    <button type="button"  class='btn btn-light'data-bs-toggle="modal" data-bs-target="#exampleModal">
        ADD COIN
    </button>
    </div>
 <% } else { %>


    <canvas></canvas>


    <div class="container-fluid main-section">

        <div class='coin-section'>
        <h1>Main Portfolio</h1>
        <button type="button"  class='btn btn-light'data-bs-toggle="modal" data-bs-target="#exampleModal">
            ADD COIN
        </button>
        </div>


        <% for(let i = 0; i < getUser.transactions.length; i++)  {%>
        <div class="coin-info">
            <div class ='coin'>
                <img>
                <p class='coin-name'>
                   <%= getUser.transactions[i].coinName %>
                </p>
            </div>
                <div>
                    <h6>Current Price</h6>
                    <p class='current-price'>
                        <%= getUser.transactions[i].quantityPurchased%>
                    </p>
                </div>
                <div>
                    <h6>Holdings</h6>
                    <p class='quantity-purchased'>
                        <%= getUser.transactions[i].quantityPurchased%>
                        <span class='holding-total'>
                        </span>
                    </p>
                    

                </div>
                <div>
                    <h6>Profit/Loss</h6>
                    <p class='purchase-price'style="display: none;">
                       <%=  getUser.transactions[i].purchasePrice   %>
                    </p>
                    <p class='purchase-fee'style="display: none;">
                        <%=  getUser.transactions[i].purchaseFee   %>
                     </p>
                    <p class='profit-loss'>
                    </p>

                </div>

            <div class="coin-buttons">
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editModal">EDIT</button>
                <form action="/canvas/<%= getUser.transactions[i].id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE</button>
                </form>
            </div>
        </div>
        <%} %>



    </div>



</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>



</body>

</html>


  
  <!-- EDIT MODAL -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editing</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/canvas/" method="POST"  novalidate class='validated-form'>
                <label for="coinList" class="form-label">Choose Coin</label>
                <input class="form-control" list="datalistOptions" id="coinList" placeholder="Type to search..."
                    name="coinName" required>
                 
                <datalist id="datalistOptions">
                </datalist>

                <label for="quantityPurchased" class="form-label">Quantity Purchased</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">0.00</span>
                    <input type="text" class="form-control" id="quanitity" name="quantityPurchased">
                    
                </div>

                <label for="purchasePrice" class="form-label">Purchase Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" placeholder="0.00"
                        aria-label="Amount (to the nearest dollar)" id="purchasePrice" name="purchasePrice">
                     
                </div>

                <label for="purchaseFee" class="form-label">Fee</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" placeholder="0.00"
                        aria-label="Amount (to the nearest dollar)" id="purchaseFee" name="purchaseFee">
                </div>
            </form>
        </div>


        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add Transaction</button>
        </div>
      </div>
    </div>
  </div>


<% } %>
