<% layout('layouts/boilerplate')%>


    <h1>
        <%= coin.coinName %>
    </h1>
    <h2>
        <%= coin.coinPurchasePrice %>
    </h2>
    <h2>
        <%= coin.purchaseAmount %>
    </h2>

    <form action="/coins/<%=coin._id%>?_method=DELETE" method="POST">

        <button>DELETE</button>
    </form>
    <footer>
        <a href="/coins">HOME</a>
        <a href="/coins/<%=coin._id %>/edit">EDIT</a>
    </footer>

    